@model IEnumerable<Appointment>
@{
    ViewData["Title"] = "Aggregates";
}

<div class="row">
    <div class="col-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Function</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Count</td>
                    <td>@Model.Count()</td>
                </tr>
                <tr>
                    <td>Min (Patient)</td>
                    <td>@Model.Min(x=> x.TotalPatient)</td>
                </tr>
                <tr>
                    <td>Max (Patient)</td>
                    <td>@Model.Max(x=> x.TotalPatient)</td>
                </tr>
                <tr>
                    <td>Sum (Patient, fees)</td>
                    <td>@Model.Sum(x=> x.TotalPatient), Total Value: @Model.Sum(x=> x.TotalPatient*x.Doctor?.Fees)</td>
                </tr>
                <tr>
                    <td>Avg (Patient, fees)</td>
                    <td>@Model.Average(x=> x.TotalPatient), Total Value: @Model.Average(x=> x.Doctor?.Fees)</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

